#loading {
    width: 8rem;
    height: 8rem;
    background-color: white;
    /*border: 5px solid #f3f3f3;*/
    /*border-top: 6px solid #9c41f2;*/
    /*border-radius: 100%;*/
    margin: auto;
    display: none;
    animation: spin 1s infinite linear;
}

#loading.display {
    display: inline-block;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform:rotate(360deg)
    }
}
.genre{
    text-transform: capitalize;
    color: white;
}

.top-holder{
    color: white;
}

.director{
    color: white;
}

#grad {
    background-image: linear-gradient(to right, #1A2639, #1A2639, #3E4A61, #C24D2C, #1A2639, #1A2639);
}
