#loading {
    width: 8rem;
    height: 8rem;
    /*border: 5px solid #f3f3f3;*/
    /*border-top: 6px solid #9c41f2;*/
    /*border-radius: 100%;*/
    margin: auto;
    display: none;
    animation: spin 1s infinite linear;

}

#loading.display {
    display: inline-block;
}

.edit-movie-modal-btn {
    display: none;
}




.navbar{
    background-color: #1A2639;
}

.navbar-brand{
    font-family: "zapfino";
    font-size: 1.5rem;
    color: wheat;
    padding-top: 33px;
}

.fa-brands.fa-redhat{
    color: wheat;
    position: absolute;
    top: 30px;
    left: 15px;
    transform: rotateY(180deg) rotateZ(5deg);
}



.nav-link {
    color: wheat !important;
}


.dropdown-menu{
    background-color: #485161;
}
.dropdown-item{
    color: #babec4;
}

@keyframes spin {
    from {
        transform: rotate(0deg)
    }
    to {
        transform:rotate(360deg)
    }
}
.genre{
    text-transform: capitalize;
}

/*#grad {*/
/*    background-image: linear-gradient(#E7622F, #ED872D, #6B6361, #3E4A61, #1A2639, #1A2639);*/
/*}*/

/*div.collapse > .card {*/
/*    min-height: initial !important;*/
/*}*/
.card-set-height {
    min-height: 53rem;
}

.card {
    /*width: 100vw;*/
    max-width: 19rem;
    /*min-height: 53rem;*/
    /*max-height: 65rem;*/
    /*height:52rem;*/
    margin: auto;
    /*background-image: linear-gradient(to top, #E7622F, #ED872D, #6B6361, #3E4A61, #1A2639, #1A2639);*/
    /*color: skyblue;*/

    font-family: "Futura Condensed Medium" SansSerif;
    /*font-family: "Big Caslon", serif;*/
    font-size: 20px;
    /*border-image: linear-gradient(#E7622F, #ED872D, #6B6361, #3E4A61, #1A2639, #1A2639)1;*/
    border-width: 3px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    padding-top: .5em;
    background-color: rgba(0,0,0,.5);
    color: #fff;
    font-family: "Futura Condensed Medium" SansSerif;
}

.card-body {
    /*padding: 3px;*/
}

.card-info {
    margin-bottom: 0;
}


.card-img-top {
    height: auto;
    width: 90%;
    object-fit: cover;
    display: block;
    margin: auto;
    border-radius: 10px 10px 10px 10px;
}

.dropdown-toggle{
    font-family: Futura ;
}


.btn-primary {
    margin: 0 auto;
    background-color: #d32f2f;
    border-color: #d32f2f;
    /*color: #fbc02d;*/
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}

.btn-primary:hover {
    background-color: #fbc02d;
    border-color: #fbc02d;
    color: #d32f2f;
}




/*MODAL CSS*/
.modal-content {
    background-color: #1a1a1a;
    color: #fff;
}



.modal-header {
    border-bottom: none;
}

.btn-close{
    background-color: #333;
}

.modal-title {
    color: #fbc02d;
}

.modal-body label {
    color: #fff;
}

.modal-body input {
    background-color: #333;
    color: #fbc02d;
    border-color: #fbc02d;
}
.modal-body input:focus{
    background-color: #333;
    color: wheat;
}

#ratingHelp{
    color: wheat;
}

#titleHelp{
    color: wheat;
}

.form-text{
    color: wheat;
}


.modal-footer button {
    background-color: #fbc02d;
    border-color: #fbc02d;
    color: #1a1a1a;
}

.modal-footer button:hover {
    background-color: #fff;
    border-color: #fbc02d;
    color: #1a1a1a;
}




.btn-close {
    background-color: white !important;
}


body{
    background: #E7622F;
    /*background: linear-gradient(#E7622F, #ED872D, #6B6361, #3E4A61, #1A2639, #1A2639);*/
    background: linear-gradient(#a3a8b0, #8d939c, #767d88, #5f6774, #485161, #313c4d, #1a2639, #172233, #151e2e);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    /*background-attachment: fixed;*/
}

.bg-white{
    color: black;
}

.synopsis {
    margin-bottom: 0;
}

.deleteBtn{
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border-color: #485161;
}

.editBtn{
    background-color: rgba(0,0,0,.5);
    color: #fff;
    border-color: #485161;
}

.dropdown-toggle{
    color: white;
    text-decoration: none;
}

#icon {
    line-height: 30px;
}
#icon {
    vertical-align: middle;
    font-size: 18px;
}